:root {
    --header-color:rgb(240, 240, 240);
    --stitch-color: #939393;
}

html, body {
    margin: 0;
    border: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    justify-items: center;
    width: 100vw;
    height: 100vh;
    gap: 2em;
}

.header {
    background-color: var(--header-color);
    width: 100%;
    height: 100%;
    display: grid;
}

.controls {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    gap: 1em;
    padding: 1em;
    max-width: 18em;
    justify-self: center;
    align-self: center;
}

.title {
    font-size: 1.2em;
}

.input {
    padding: 0.5em;
}

.quilt {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    align-self: start;
}

.design {
    margin-top: 1em;
    display: grid;
    grid-auto-flow: row;
}

.row {
    display: grid;
    grid-auto-flow: column;
}

.color {
    width: 100%;
    height: 3em;
}

.message {
}


.chunk {
    width: 4em;
    height: 1.5em;
    border: 1px dotted #939393;
}